body {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 60, 60);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#main {  
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}
.title {
    text-align: center;
    font-size: 3em;
    color: rgb(230, 230, 235);
}
.button {
    font-size: 1em;
    background-color: #a5740b;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}
#message {
    text-align: center;
    font-size: 1.5em;
    border: 4px solid #979797;
    padding: 25px;
    background-color: #e0dcdc;
    border-radius: 10px;
}