#main {
    
    max-width: 600px;
    box-sizing: border-box;
    border: 1px solid #979797;
    padding: 40px;
    background-color: antiquewhite;
    text-align: center;
}
.title {
    color: rgb(42, 42, 66);
}
.button {
    background-color: #3c4637;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}
#message {
    border: 1px solid #979797;
    padding: 15px;
    margin-top: 10px; 
    background-color: #e0dcdc;
}